* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://wallpapers.com/images/hd/pikachu-background-i0l8ary6sgfx9gj5.jpg');
}

.pokemon-card {
  height: auto;
  width: 400px;
  padding-top: 0px;
  margin: 200px auto;
  background: linear-gradient(135deg, #ad40fa 0%, #a9ef86 100%);
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-family: Arial, sans-serif;
}

.card-image {
  position: relative;
  height: 250px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  padding-top: 80px;
}

.card-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.wallpapersafari.com/61/22/ueI3dF.png);
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
}

.card-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  z-index: 2;
}

.card-info {
  padding: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.type {
  font-size: 18px;
  color: yellow;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.card-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.stats p {
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}

.hp-value{
  color: #4CAF50;
}

.att-value{
  color: #f44336;
}

.def-value{
  color: #9C27B0;
}

.hp-value,
.att-value,
.def-value {
  font-weight: normal;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}

button:hover {
  background-color: #3b4cca;
}
